body { 
  margin: 0; 
  padding: 0; 
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}

#titleBar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  opacity: 0.9;
  z-index: 5;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 20px rgb(0 0 0 / 30%) !important;
}

#titleHolder {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

#title {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 2.6em;
  padding-left: 15px;
  padding-right: 15px;
}

#subTitle {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 2.1em;
}

#helpHolder {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 4;
  right: 15px;
  width: 75px;
}

.helpButton {
  padding: 3px;
  border-radius: 50%;
  background-color: #404040;
  text-decoration: none;
  border: 0px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.helpButton-clicked {
  background-color: rgba(156, 102, 102, 0.9);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

.helpButton:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

.fa-info-circle {
  font-size: 30px;
  color: white;
}

.infoButton {
  padding: 3px;
  border-radius: 50%;
  background-color: #404040;
  text-align: center;
  text-decoration: none;
  border: 0px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.infoButton-clicked {
  background-color: rgba(156, 102, 102, 0.9);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

.infoButton:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

.fa-question-circle {
  font-size: 30px;
  color: white;
}


/****Menu Code****/

.menu {
  position: absolute;
  padding: 20px;
  width: 14em;
  height: 20em;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 40px;
  left: 15px;
  border-radius: 5px;
  box-shadow: 0 0 50px -25px black;
}

/****Layer Button****/

.layerButton {
  width: 100%;
  height: 1.9em;
  border-radius: 4px;
  border: 0px solid rgba(60, 66, 59, 0.4);
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  color: rgb(231, 231, 231) !important;
  font-size: 1.2em;
  font-weight: 700;
  background-color: rgba(156, 102, 102, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px !important;
}

.layerButton-clicked {
  background-color: rgba(235, 235, 235, 0.8);
  color: rgb(92, 49, 49) !important;
}

.layerButton:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

.switchBox {
  padding-top: 5px;
}

/* Legend Div Styling */

.legTitle {
  color: #404040;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  font-size: 1.35em;
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

ol.htcleg {
  list-style: none;
  padding: 0px;
  /*columns: 2;
  column-gap: 20px;*/
  margin: 0px;    
}

li.legend2 {
  margin-bottom: 5px;
  padding-left: 25px;    
  position: relative;
  font-size: 1.1em !important;
  color: #404040 !important;
  font-family: 'Overpass', sans-serif !important;
  font-weight: 300;   
}

li.legend2:before {
  content: '';
  display: block;
  float: left;
  line-height: 20px;
  margin-left: -20px;
  margin-top: 0px;    
  text-align: center;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

li.legend2:nth-child(1):before {
  background-color: #E41A1C;
  border: 0.5px solid #404040;
  margin-right: 10px;    
  opacity: 0.9;
}

li.legend2:nth-child(2):before {
  background-color: #377eb8;
  border: 0.5px solid #404040;
  margin-right: 10px;   
  opacity: 0.9; 
}

li.legend2:nth-child(3):before {
  background-color: #4daf4a;
  border: 0.5px solid #404040;
  margin-right: 10px; 
  opacity: 0.9;   
}

li.legend2:nth-child(4):before {
  background-color: #984ea3;
  border: 0.5px solid #404040;   
  margin-right: 10px;   
  opacity: 0.9;
}

li.legend2:nth-child(5):before {
  background-color: #ff7f00;
  border: 0.5px solid #404040;
  margin-right: 10px;  
  opacity: 0.9; 
}

li.legend2:nth-child(6):before {
  background-color: #ffff33;
  border: 0.5px solid #404040;
  margin-right: 10px;   
  opacity: 0.9;
}

/****Info Panel****/

.infopanel  {
  width: 30em;
  position: fixed;
  z-index: 1;
  height: calc(100% - 190px);
  top: 120px;
  right: -33.3em;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: 0 0 50px -25px black;
  border-radius: 5px 0px 0px 5px;
  padding: 15px 0px 15px 15px;
}

.infoLiner {
  height: 100%;
  overflow-y: auto;
}

.infoPara {
  margin-right: 5px;
}

.infoImg {
  width: 50%;
  height: auto;
  float: left;
  margin-top: 9px;
  margin-right: 13px;
  margin-bottom: -1px;
  border-radius: 4px;
}

.infoImg:hover {
  opacity: 0.9;
}

.infoExpand {
  right: 0;
}

.infopanel .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
}

.row {
  display: flex;
  padding-bottom: 15px;
}

.column {
  flex: 50%;
  padding-right: 10px;
  padding-bottom: 25px;
  height: 475px;
}

.catBull {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.catBullShape {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #404040;
  margin-bottom: 5px;
  margin-right: 5px;
}

.red {
  background-color: #e41a1c;
}

.blue {
  background-color: #377eb8;
}

.green {
  background-color: #4daf4a;
}

.purple {
  background-color: #984ea3;
}

.orange {
  background-color: #ff7f00;
}

.yellow {
  background-color: #ffff33;
}

ol.infoLeg {
  list-style: none;
  padding: 0px;
  /*columns: 2;
  column-gap: 20px;*/
  margin: 0px;    
}

li.infoBull {
  padding-left: 10px;    
  position: relative;
  font-size: 1em !important;
  color: #404040 !important;
  font-family: 'Overpass', sans-serif !important;
  font-weight: 300;   
}

.infoh3 {
  padding: 5px 0px 15px 0px;
  font-size: 1.2em;
}

/****custom scrollbar****/

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Popup Styling */

.mapboxgl-popup-content {
  width: 300px;
  border-radius: 5px;
  border: 0px solid #000;
  box-shadow: 0 0 50px -25px black;
}

.mapboxgl-popup-close-button {
  font-size: 30px;
}

h1 {
  margin-top: 6px;
  margin-bottom: 10px;
  font-family: 'Overpass', sans-serif;
  font-weight: 900;
  font-size: 20px;
}

h2 {
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 17px;
}

h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  font-size: 15px;
}

h4 {
  margin-bottom: 3px;
  margin-top: 3px;
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  font-size: 13px;
}

hr {
  border-top: .4px solid #000;
  opacity: .2;
  padding-bottom: 2px;
}

.chart {
  /*max-height: 200px;*/
  width: 200px;
}

.chartHolder {
  height: 200px;
}

/* Geocoder Code */

#geocodeBox {
  width: 30em;
  display: flex;
  align-content: center;
  position: absolute;
  right: 15px;
  top: 60px;
}

.geocoder {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}

.mapboxgl-ctrl-geocoder--input {
  font-family: 'Overpass', sans-serif;
  padding: 7px 35px 4px 35px;
}

/* Footer */

#footerBar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  opacity: 1;
  z-index: 5 !important;
  display: none;
  align-items: center;
  box-shadow: 0 4px 20px rgb(0 0 0 / 30%) !important;
}

/* Menu Toggle */

#toggleBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

#toggle {
  display: none;
}

.toggle {
   width: 33px;
   height: 33px; 
   cursor: pointer;
}

.toggle > span{
    display: block;
    top: 9.5px;
    left: 7px;
    width: 19px;
    height: 3px;
    margin-bottom: 4px;
    position: relative;
    background: #404040;
    border-radius: 10px;
    transform-origin: center;  
    transition: transform .5s;
}

input#toggle ~ .toggle > span{
  transform: translateY(0px) rotate(0deg);
}

input#toggle ~ .toggle > span:nth-child(2){
    opacity: 1;
}

input#toggle ~ .toggle > span:nth-child(3){
    transform: translateY(0px) rotate(0deg);
}

input#toggle:checked ~ .toggle > span{
  transform: translateY(6px) rotate(-45deg);
}

input#toggle:checked ~ .toggle > span:nth-child(2){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

input#toggle:checked ~ .toggle > span:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
}

.toggle {
  display: inline-block;
}

/****Splash Screen****/

.splashContainer {
  display: block;
  position: absolute;
  z-index: 7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.splash {
  width: 30em;
  height: 20em;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 50px -25px black;
  position: absolute;
}

.splashDiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.splashTitle {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 1.4em;
}

.splashSubTitle {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.splashTextBox {
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  font-size: .9em;
  height: 200px;
  padding-top: 10px;
}

.buttonHolder { 
  width: auto;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#start {
  margin-right: 15px;
}

.splashButton {
  height: 2em;
  border-radius: 4px;
  border: 0px solid rgba(60, 66, 59, 0.4);
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  color: rgb(231, 231, 231) !important;
  font-size: .9em;
  font-weight: 700;
  background-color: rgba(156, 102, 102, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px !important;
}

.splashButton:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

/****Tutorial Boxes****/

.boxone {
  position: fixed;
  z-index: 6;
  width: 310px;
  height: 140px;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 350px;
  left: 15px;
  border-radius: 5px;
  padding: 10px;
  display: none;
  box-shadow: 0 0 50px -25px black;
  animation: odsoky 1s ease-in-out infinite  alternate;
}

.boxone.arrow-bottom:after {
  content: " ";
  position: absolute;
  left: 85px;
  bottom: -15px;
  border-top: 15px solid rgba(255, 255, 255, 0.9);
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}

.boxtwo {
  position: fixed;
  z-index: 6;
  width: 300px;
  height: 160px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 130px;
  right: 15px;
  border-radius: 5px;
  padding: 10px;
  display: none;
  box-shadow: 0 0 50px -25px black;
  animation: odsoky 1s ease-in-out infinite  alternate;
}

.boxtwo.arrow-top:after {
  content: " ";
  position: absolute;
  right: 15px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid rgba(255, 255, 255, 0.9);
}

.textBox {
  height: calc(100% - 32px);
}

.tutButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 25px;
  border-radius: 4px;
  border: 0px solid rgba(60, 66, 59, 0.4);
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  color: rgb(231, 231, 231) !important;
  font-size: .9em;
  font-weight: 700;
  background-color: rgba(156, 102, 102, 0.8);
  line-height: 23px;
}

.tutButton:hover {
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2) !important;
}

@keyframes odsoky {
  100%{
    transform: translateY(6px);	
  }

  0%{
    transform: translateY(1px);	
  }    
}

/****Move Mapbox Attribution****/

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0 0 12px 20px;
  z-index: 1;
}

/****Responsive Code****/

@media (max-width: 580px) {

  .splashTitle {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
  }
  
  .splashSubTitle {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: .9em;
  }

  .splash {
    width: 19em;
    height: 22em !important;
    padding: 10px;
  }

  .splashTextBox {
    font-size: .8em;
    height: 80%;
  }

  .buttonHolder {
    height: 23px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
    /*padding-top: 46px;*/
  }

  #start {
    margin-right: 10px;
  }

  .splashButton {
    height: 22px;
    font-size: .6em;
  }

  #titleBar {
    height: 45px;
  }

  #title {
    font-size: 1.65em;
    font-weight: 900;
  }

  h1 {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 17px
  }
  
  h2 {
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 14px
  }
  
  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px
  }

  h4 {
    font-size: 11px;
  }

  .infopanel  {
    width: calc(100% - 30px);
    position: fixed;
    z-index: 10;
    top: 60px;
    height: calc(100% - 150px);
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 50px -25px black;
    border-radius: 5px 0px 0px 5px;
  }

  .column {
    height: 440px;
  }

  .catBullShape {
    margin-top: 5px;
  }

  .menu {
    width: calc(100% - 40px) !important;
    position: fixed !important;
    padding: 15px 25px 15px 25px;
    z-index: 4 !important;
    height: 180px !important;
    bottom: -180px !important;
    left: 0px;
    /*background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;*/
    transition: 0.5s !important;
    box-shadow: 0 0 50px -25px black !important;
    border-radius: 0px !important;
    display: block;
  }

  .menuExpand {
    bottom: 0 !important;
  }

  #helpHolder {
    width: 52px;
  }

  #geocodeBox {
    width: 100%;
    right: 0px;
    justify-content: center;
  }

  #geocoder {
    width: 92%;
  }

  .legendContainer {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ol.htcleg {
    columns: 2;
    column-gap: 20px;  
  }

  li.legend2 {
    margin-bottom: 0px !important;
    padding-left: 35px;
    font-size: 1em !important;
  }

  li.legend2:before {
    height: 11px;
    width: 11px;
  }

  li.legend2:nth-child(1):before {
    margin-top: 2px;
    margin-right: 15px;    
  }
  
  li.legend2:nth-child(2):before {
    margin-top: 2px;
    margin-right: 15px;    
  }
  
  li.legend2:nth-child(3):before {
    margin-top: 2px;
    margin-right: 15px;    
  }
  
  li.legend2:nth-child(4):before {
    margin-top: 2px;
    margin-right: 15px;   
  }
  
  li.legend2:nth-child(5):before {
    margin-top: 2px;
    margin-right: 15px;   
  }
  
  li.legend2:nth-child(6):before {
    margin-top: 2px;
    margin-right: 15px;   
  }

  .layerButton {
    height: 1.9em;
    width: 100%;
    font-size: 1em;
  }

  .geoTitle {
    top: 228px;
  }

  .geocoder {
    padding-top: 0px;
  }

  #footerBar {
    display: flex;
  }

  .boxone {
    bottom: 75px;
    left: 15px;
    width: 250px;
    height: 120px;
  }

  .boxone.arrow-bottom:after {
    left: 10px;
  }

  .boxtwo {
    top: 120px;
    right: 15px;
    width: 250px;
    height: 130px;
  }

  .tutButton {
    height: 22px;
    font-size: .7em;
    line-height: 23px;
  }

  .mapboxgl-popup-content {
    width: 260px;
  }

  .mapboxgl-popup-close-button {
    font-size: 20px;
    right: 5px;
    top: 3px;
    padding: 1px 5px;
  }

  .mapboxgl-ctrl-geocoder--input {
    font-size: 0.8em;
    height: 35px;
  }

  .mapboxgl-ctrl-geocoder--icon-search {
    top: 6px;
    left: 9px;
  }

  .mapboxgl-ctrl-geocoder--icon-close {
    margin-top: 2px;
  }

  .mapboxgl-ctrl-attrib.mapboxgl-compact {
    display: none;
  }

  .mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 0 0 60px 15px;
    z-index: 1;
  }
  
  .chart {
    /*max-height: 200px;*/
    width: 175px;
  }
  
  .chartHolder {
    height: 175px;
  }

}

@media (max-width: 700px) {
  #subTitle {
    display: none;
  }
}

@media (max-width: 1400px) {
  #title {
    font-size: 1.8em;
  }

  #subTitle {
    font-size: 1.7em;
  }

  .splash {
    height: 17em;
  }

  .splashTextBox {
    font-size: 0.8em;
  }

  .splashButton {
    font-size: 0.8em;
  }

  .mapboxgl-popup-close-button {
    font-size: 26px;
    right: 5px;
    top: 3px;
    padding: 1px 5px;
  }

  h1 {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 17px
  }
  
  h2 {
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 14px
  }
  
  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px
  }

  .infoh3 {
    font-size: 1.1em;
  }

  .column {
    padding-bottom: 5px;
  }
  
  #helpHolder {
    width: 60px;
  }

  .fa-info-circle {
    font-size: 22px;
  }

  .fa-question-circle {
    font-size: 22px;
  }

  .menu {
    padding: 20px;
    width: 11.5em;
    height: 18em;
  }
  
  .boxone {
    bottom: 325px;
  }

  /****Layer Button****/
  
  .layerButton {
    font-size: 1em;
  }
  
  /* Legend Div Styling */
  
  .legTitle {
    font-size: 1.2em;
  }
  
  .legendContainer {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  li.legend2 {
    margin-bottom: 3px;
    padding-left: 25px;    
    position: relative;
    font-size: 1.1em !important;
    color: #404040 !important;
    font-family: 'Overpass', sans-serif !important;
    font-weight: 300;   
  }
  
  li.legend2:before {
    margin-top: 2px;    
    height: 10px;
    width: 10px;
  }
}

@media (max-height: 500px) {
  #titleBar {
    height: 40px;
  }

  #title {
    font-size: 1.6em;
  }

  #subTitle {
    display: block;
    font-size: 1.5em;
  }

  h1 {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 17px
  }
  
  h2 {
    margin-bottom: 1px;
    margin-top: 1px;
    font-size: 14px
  }
  
  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px
  }

  h4 {
    font-size: 11px;
  }

  #helpHolder {
    width: 60px;
  }

  .fa-info-circle {
    font-size: 22px;
  }

  .fa-question-circle {
    font-size: 22px;
  }

  .boxone {
    bottom: 65px;
    left: 10px;
    width: 250px;
    height: 120px;
  }

  .boxone.arrow-bottom:after {
    left: 7px;
  }

  .boxtwo {
    top: 105px;
    right: 10px;
    width: 250px;
    height: 130px;
  }

  .tutButton {
    height: 22px;
    font-size: .7em;
    line-height: 23px;
  }

  #geocodeBox {
    width: 23em !important;
    justify-content: right !important;
    padding-right: 5px !important;
    position: absolute !important;
    right: 4px !important;
    top: 50px !important;
    display: flex !important;
  }

  .geocoder {
    padding-top: 0px;
    width: 100%;
  }

  .splash {
    width: 60%;
    height: 65%;
  }

  .splashTextBox {
    font-size: .8em;
  }

  .startButton {
    height: 22px;
    font-size: .7em;
    line-height: 23px;
    right: 85px;
    bottom: 10px;
  }
  
  .tourButton {
    height: 22px;
    font-size: .7em;
    line-height: 23px;
    bottom: 10px;
    right: 10px;
  }

  #footerBar {
    display: flex;
    height: 35px;
  }

  .menu {
    width: 24.5em !important;
    position: fixed !important;
    padding: 15px 25px 15px 25px;
    z-index: 4 !important;
    height: 14.5em !important;
    bottom: -180px !important;
    left: 0px;
    /*background-color: rgba(255, 255, 255, 0.9);
    overflow-x: hidden;*/
    transition: 0.5s !important;
    box-shadow: 0 0 50px -25px black !important;
    border-radius: 0px 5px 0px 5px;
    display: block;
  }

  .menuExpand {
    bottom: 0 !important;
  }

  .legendContainer {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ol.htcleg {
    columns: 2;
    column-gap: 20px;  
  }

  li.legend2 {
    margin-bottom: 0px !important;
    padding-left: 35px;
    font-size: 1em !important;
  }

  li.legend2:before {
    height: 11px;
    width: 11px;
  }

  .row {
    padding-bottom: 0px;
  }

  .infopanel  {
    width: 380px;
    position: fixed;
    z-index: 10;
    top: 50px;
    height: calc(100% - 125px);
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 50px -25px black;
    border-radius: 5px 0px 0px 5px;
  }

  .infoh3 {
    padding: 5px 0px 15px 0px;
    font-size: 1em;
  }

  .mapboxgl-popup-close-button {
    font-size: 20px;
    right: 5px;
    top: 3px;
    padding: 1px 5px;
  }

  .chart {
    width: 175px;
  }
  
  .chartHolder {
    height: 130px;
  }

  .toggle > span {
    height: 2px;
  }

  input#toggle:checked ~ .toggle > span:nth-child(3){
    transform: translateY(-6px) rotate(45deg);
  }

  .mapboxgl-ctrl-geocoder--input {
    font-size: 0.8em;
    height: 35px;
  }
}
